<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Skoobop</title>
</head>
<body>

<h1>Events With Description!</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event}">Default text</td>
        <td th:text="${}">Default description</td>
    </tr>
</table>

</body>
</html>